---
import Layout from "@/layouts/Base";
---

<Layout
  title="自己紹介"
  description="浜京のブログへようこそ"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">自己紹介</h1>
  <p>
    こんにちは、これはAstroテーマです。ブログやポートフォリオを始めるのに特に適しています。
    <div>
      このテーマは以下の2つのテーマをベースにしています：
      <a
        class="cody-link"
        href="https://astro-theme-cactus.netlify.app"
        target="_blank"
        rel="noopener noreferrer">Astro Cactus</a
      >
      と
      <a
        class="cody-link"
        target="_blank"
        rel="noopener noreferrer"
        href="https://risotto.joeroe.io">Risotto</a
      >。
    </div>
  </p>

  <h2 class="title mt-4">主な機能：</h2>
  <ul class="list-inside list-disc">
    <li>どのデバイスでも美しく表示</li>
    <li>完全にレスポンシブ</li>
    <li>ライトモードとダークモード対応</li>
    <li>カスタマイズとコンテンツ追加が簡単</li>
    <li>Tailwind CSSで構築</li>
    <li>投稿やプロジェクトのピン留め機能</li>
  </ul>
  <p class="mt-4">
    気に入ったら、
    <a
      class="cody-link inline-block"
      href="https://github.com/kirontoo/astro-theme-cody"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="github repository"
    >
      リポジトリ
    </a>
    をクローンまたはフォークしてください！
  </p>
</Layout>
