---
import Layout from "@/layouts/Base";
---

<Layout
  title="About"
  description="Welcome to hamakyo.log"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <p>
    資材調達からスタートし、VBAを経てエンジニアに転身。現在は社内SEとして、ITを活用して人々をサポートし、業務効率化を推進しています。
  </p>
</Layout>
