---
import Layout from "@/layouts/Base";
---

<Layout
  title="About"
  description="Welcome to hamakyo.log"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <p>
    日々の技術的な発見を記録するためのブログです。
  </p>
</Layout>
